* {box-sizing: border-box;}
html, body { margin:0 0; padding:0 0;}
figure {margin:0; padding:0;}

*::-webkit-scrollbar{width:5px; background: #1A1A1A;}
*::-webkit-scrollbar-thumb{background:#fafafa; border-radius: 100px;}

p {margin:0; line-height: 2;}
button{cursor: pointer;}

ul {list-style: none; margin:0; padding:20px; display: flex; overflow-x: auto;}
ul > li {min-width: 100px; text-align: center; cursor: pointer;}
.admin {position:sticky; top:0;}
.admin > li {min-width: 200px;}

form input[type='text'] {
    height: 45px;
    font-size: 18px;
    padding:10px;
}

iframe {width: 100%; height: 100%; border: 0; background: #fff;} 